
/* Forms */


label, .label{
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}
:any(label, .label):any(.full, .checkbox, .radio){
	display: block;
}
:any(label, .label).full{
	font-size: 1.6em;
	margin-bottom: .625em;
}
:any(input, textarea, [contenteditable], select, button, .button, [role="button"], a, [tabindex]):focus{
	outline-color: $(color-main);
}
textarea, [contenteditable]{
	resize: vertical;
}
:input(text, password, url, email, number, search, date, time, datetime, submit, reset, button), textarea, [contenteditable], select, button, .button, [role="button"]{
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea)::-webkit-input-placeholder{
	color: inherit;
	opacity: .3;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea):-moz-placeholder{
	color: inherit;
	opacity: .3;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea)::-moz-placeholder{
	color: inherit;
	opacity: .3;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea):-ms-input-placeholder{
	color: inherit;
	opacity: .3;
}

:any(:input(text, password, url, email, number, search, date, time, datetime), textarea, [contenteditable], select){
	padding: .5em;
	margin-bottom: 1em;
	appearance: none;
	background-color: $(color-white);
	color: $(color-black);
	border-bottom: 1px solid l-adjust($(color-gray-light), -15);
	border-radius: 0;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea, [contenteditable], select):focus{
	outline: 0;
	border-color: $(color-main);
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea, [contenteditable], select):any([disabled], [readonly]){
	border-bottom-style: dashed;
}
:any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, [contenteditable], select).input-small{
	width: 25%;
}
:any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, [contenteditable], select).input-medium{
	width: 50%;
}
:any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, [contenteditable], select).input-large{
	width: 75%;
}
:any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, [contenteditable], select).input-full{
	width: 100%;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea, [contenteditable], select).input-xs{
	padding: .25em;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea, [contenteditable], select).input-xl{
	padding: 1em;
}
:any(button, .button, [role="button"], a, [tabindex], :input(submit, reset, button)):any(:hover, :focus){
	cursor: pointer;
}
:any(button, .button, :input(submit, button)){
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
	background-color: $(color-secondary);
	color: $(color-white);
	border-radius: .125em;
	box-shadow: 0 .125em .25em $(color-gray);
	white-space: nowrap;
}
:any(button, .button, :input(submit, reset, button)):any(:hover, :focus){
	background-color: l-adjust($(color-secondary), -5);
}
:any(button, .button, :input(submit, reset, button)):active{
	box-shadow: 0 .25em .5em $(color-gray);
}
:any(button, .button, :input(submit, reset, button)).button-xs{
	padding: .25em .5em;
}
:any(button, .button, :input(submit, reset, button)).button-xl{
	padding: 1em 2em;
}
:any(button, .button, :input(submit, reset, button)).button-full{
	width: 100%;
}
.button-full+.button-full{
	margin-top: 1em;
}
:any(button, .button, :input(submit, reset, button)).button-info{
	background-color: $(color-info);
}
:any(button, .button, :input(submit, reset, button)).button-info:any(:hover, :focus){
	background-color: l-adjust($(color-info), -5);
}
:any(button, .button, :input(submit, reset, button)).button-success{
	background-color: $(color-success);
}
:any(button, .button, :input(submit, reset, button)).button-success:any(:hover, :focus){
	background-color: l-adjust($(color-success), -5);
}
:any(button, .button, :input(submit, reset, button)).button-error{
	background-color: $(color-error);
}
:any(button, .button, :input(submit, reset, button)).button-error:any(:hover, :focus){
	background-color: l-adjust($(color-error), -5);
}
:any(button, .button, :input(submit, reset, button)).button-warning{
	background-color: $(color-warning);
}
:any(button, .button, :input(submit, reset, button)).button-warning:any(:hover, :focus){
	background-color: l-adjust($(color-warning), -5);
}

select{
	background: data-uri('../img/icon-arrow-drop-down.svg') no-repeat right center;
	background-size: contain;
}

progress{
	height: 1em;
	appearance: none;
	border: none;
	background: $(color-main-light);
}
progress.size-xs{
	height: 1em;
}
progress.size-xl{
	height: 3em;
}
progress[value]::-webkit-progress-bar{
	background: $(color-main-light);
}
progress[value]::-webkit-progress-value{
	background: $(color-main-dark);
}
progress[value]::-moz-progress-bar{
	background: $(color-main-dark);
}

input[type="range"]{
	position: relative;
	margin: 0;
	margin-top: .5em;
	margin-bottom: 2em;
	padding: 0;
	height: 1em;
	appearance: none;
	background: $(color-main-light);
	border: none;
	border-radius: .5em;
}
input[type="range"]::-moz-range-track{
	position: relative;
	margin: 0;
	margin-bottom: 2em;
	padding: 0;
	height: 1em;
	-moz-appearance: none;
	background: $(color-main-light);
	border: none;
	border-radius: .5em;
}
input[type="range"]::-webkit-slider-thumb{
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	background: $(color-main-dark);
	border: none;
	border-radius: 1em;
	box-shadow: 0 0 .25em $(color-main-dark);
	transition: all .2s ease-in-out;
}
input[type="range"]:active::-webkit-slider-thumb{
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	box-shadow: 0 0 .5em $(color-main-dark);
}
input[type="range"]::-moz-range-thumb{
	width: 2em;
	height: 2em;
	-moz-appearance: none;
	background: $(color-main-dark);
	border: none;
	border-radius: 1em;
	box-shadow: 0 0 .25em $(color-main-dark);
	transition: all .2s ease-in-out;
}
input[type="range"]:active::-moz-range-thumb{
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	box-shadow: 0 0 .5em $(color-main-dark);
}
input[type="range"][min]::before,
input[type="range"][max]::after {
	position: absolute;
	top: 1.25em;
	color: $(color-gray);
}
input[type="range"][min]::before {
	left: .5em;
	content: attr(min);
}
input[type="range"][max]::after {
	right: .5em;
	content: attr(max);
}
input[type="range"]:any([disabled], [readonly]){
	background-color: $(color-gray-light);
	mouse-events: none;
}
input[type="range"]:any([disabled], [readonly])::-moz-range-track{
	background-color: $(color-gray-light);
}
input[type="range"]:any([disabled], [readonly])::-webkit-slider-thumb{
	background-color: $(color-gray);
	box-shadow: 0 0 .5em $(color-gray);
}
input[type="range"]:any([disabled], [readonly])::-moz-range-thumb{
	background-color: $(color-gray);
	box-shadow: 0 0 .5em $(color-gray);
}
input[type="range"]:any([disabled], [readonly]):active::-webkit-slider-thumb{
	box-shadow: 0 0 .5em $(color-gray);
	width: 2em;
	height: 2em;
}
input[type="range"]:any([disabled], [readonly]):active::-moz-range-thumb{
	box-shadow: 0 0 .5em $(color-gray);
	width: 2em;
	height: 2em;
}

:any(input[type="checkbox"], input[type="radio"]):any(:not(:checked), :checked){
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	width: 1em;
	height: 1em;
	appearance: none;
	vertical-align: middle;
	border: 2px solid l-adjust($(color-gray-dark), +15);
	cursor: pointer;
}
input[type="checkbox"]:any(:not(:checked), :checked){
	border-radius: .25em;
}
input[type="radio"]:any(:not(:checked), :checked){
	border-radius: 50%;
}
:any(input[type="checkbox"], input[type="radio"]):not(:checked){
	background: transparent;
}
:any(input[type="checkbox"], input[type="radio"]):checked{
	background: $(color-success);
	border-color: $(color-success);
}
:any(input[type="checkbox"], input[type="radio"]):active{
	animation: touchWave .2s ease-in-out;
}
@keyframes touchWave {
	0% { box-shadow: 0 0 0 0 $(color-main-light); }
	100% { box-shadow: 0 0 0 1em $(color-main-light); }
}
:any(input[type="checkbox"], input[type="radio"]):any(:not(:checked), :checked):any([disabled], [readonly]){
	background: $(color-gray-light);
	border-color: $(color-gray);
}
:any(input[type="checkbox"], input[type="radio"]):any(:not(:checked), :checked):any([disabled], [readonly]):active{
	animation: none;
}