
/* Forms */
#main :any(label, .label){
	margin-bottom: 1em;
}
#main :any(label, .label).full{
	font-size: 1.6em;
	margin-bottom: .625em;
}
#main :input(text, password, url, email, number, search, date, time, datetime), textarea, select{
	padding: .5em;
	margin-bottom: 1em;
	background-color: $(color-white);
	color: $(color-black);
	border-bottom: 1px solid l-adjust($(color-gray-light), -15);
	border-radius: 0;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-small{
	width: 25%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-medium{
	width: 50%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-large{
	width: 75%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-full{
	width: 100%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-xs{
	padding: .25em;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-xl{
	padding: 1em;
}
#main :any(button, .button, :input(submit, button)){
	padding: .25em .5em;
	background-color: $(color-gray);
	color: $(color-white);
	border-radius: .25em;
}
#main :any(button, .button, :input(submit, reset, button)):any(:hover, :focus){
	background-color: l-adjust($(color-gray), -15);
}
#main :any(button, .button, :input(submit, reset, button)).button-xs{
	padding: .125em .25em;
}
#main :any(button, .button, :input(submit, reset, button)).button-xl{
	padding: .5em 1em;
}
#main :any(button, .button, :input(submit, reset, button)).button-full{
	width: 100%;
}
#main :any(button, .button, :input(submit, reset, button)).button-info{
	background-color: $(color-info);
}
#main :any(button, .button, :input(submit, reset, button)).button-info:any(:hover, :focus){
	background-color: l-adjust($(color-info), -15);
}
#main :any(button, .button, :input(submit, reset, button)).button-success{
	background-color: $(color-success);
}
#main :any(button, .button, :input(submit, reset, button)).button-success:any(:hover, :focus){
	background-color: l-adjust($(color-success), -15);
}
#main :any(button, .button, :input(submit, reset, button)).button-error{
	background-color: $(color-error);
}
#main :any(button, .button, :input(submit, reset, button)).button-error:any(:hover, :focus){
	background-color: l-adjust($(color-error), -15);
}
#main :any(button, .button, :input(submit, reset, button)).button-warning{
	background-color: $(color-danger);
}
#main :any(button, .button, :input(submit, reset, button)).button-warning:any(:hover, :focus){
	background-color: l-adjust($(color-danger), -15);
}


input[type="checkbox"].custom-checkbox:any(:not(:checked), :checked){
	width: 1em;
	height: 1em;
	-webkit-appearance: none;
	appearance: none;
	background: $(color-danger);
}
input[type="checkbox"].custom-checkbox:checked{
	background: $(color-success);
}