
@define {
	color-white: #fff;
	color-black: #000;

	color-error: #e51c23;
	color-danger: #ff9800;
	color-success: #259b24;
	color-info: #5677fc;

	color-main-light: #9fa8da;
	color-main: #303f9f;
	color-main-dark: #1a237e;

	color-secondary-light: #ffecb3;
	color-secondary: #ffc107;
	color-secondary-dark: #ff6f00;

	color-gray-light: #f5f5f5;
	color-gray: #9e9e9e;
	color-gray-dark: #212121;

	size-topbar-height: 3em;
	size-sidebar-width: 15em;

	breakpoint-xs: 25em;
	breakpoint-sm: 40em;
	breakpoint-md: 60em;
	breakpoint-lg: 75em;
}
@selector-splat input input[type="#(text)"];

@import url('reset.css');
@import url('font-roboto.css');

::-moz-selection {
	background: $(color-secondary-light);
}
::selection {
	background: $(color-secondary-light);
}

html{
	font-family: 'Roboto', Helvetica, "Liberation Sans", FreeSans, Sans-serif;
	line-height: 1.5;
	min-height: 100%;
	background-color: $(color-gray-light);
	color: $(color-gray-dark);
}

body{
	min-height: 100%;
}

a{
	text-decoration: underline;
	color: inherit;
}
a:any(:hover, :focus){
	text-decoration: none;
}
strong, .bold{
	font-weight: bold;
}
em, .italic{
	font-style: italic;
}
del, .strike{
	text-decoration: line-through;
}
small, .small{
	font-size: .8em;
	line-height: 1.25em;
}

hr{
	height: 1px;
	padding: 0;
	margin: 1em 0;
	background-color: $(color-gray);
	border: none;
}
hr.spaced{
	margin: 2em 0;
}
pre{
	font-family: monospace;
	padding: 1em;
	margin-bottom: 2em;
	white-space: pre;
	background-color: $(color-white);
	border: 1px solid $(color-gray-light);
	overflow: auto;
}

/* Typography */
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}

/* Forms */
label, .label-like{
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
}
:any(input, textarea, select, button, .button, [role="button"], a, [tabindex]):focus{
	outline-color: $(color-main);
}
:any(button, .button, [role="button"], a, [tabindex], :input(submit, reset, button)):any(:hover, :focus){
	cursor: pointer;
}
:input(text, password, url, email, number, search, date, time, datetime, submit, reset, button), textarea, select, button, .button, [role="button"]{
	box-sizing: border-box;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea)::-webkit-input-placeholder{
	color: inherit;
	opacity: .3;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea)::-moz-placeholder{
	color: inherit;
	opacity: .3;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea):-ms-input-placeholder{
	color: inherit;
	opacity: .3;
}
:any(:input(text, password, url, email, number, search, date, time, datetime), textarea):-moz-placeholder{
	color: inherit;
	opacity: .3;
}

/* Screen readers */
.sr-only{
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/* Floats */
.clearfix{
	clear: both;
}
.row::after{
	content: '';
	display: block;
	@extend .clearfix;
}

/* Badges */
.badge{
	display: inline-block;
	font-size: .8em;
	padding: .125em .25em;
	min-width: .7em;
	text-align: center;
	border-radius: .25em;
	background-color: $(color-gray);
	color: $(color-white);
}
.badge:empty{
	display: none;
}
.badge.badge-error{
	background-color: $(color-error);
}
.badge.badge-warning{
	background-color: $(color-danger);
}
.badge.badge-success{
	background-color: $(color-success);
}
.badge.badge-info{
	background-color: $(color-info);
}


@import url('adm-in-2_topbar.css');
@import url('adm-in-2_sidebar.css');
@import url('adm-in-2_main.css');
