.tabs-container{
	&>.tabs-names{
		margin-bottom: 1em;

		&>a{
			display: block;
			float: left;
			&:extend(.h4);
			padding: .5em 1em;
			margin: 0;
			text-decoration: none;
			border-bottom: 3px solid darken(@color-gray-light, 15%);

			&:hover, &:focus{
				border-bottom-color: darken(@color-gray-light, 30%);
			}

			&.tab-active{
				border-bottom-color: @color-main;

				&:hover, &:focus{
					border-bottom-color: darken(@color-main, 15%);
				}
			}
		}

		&:after{
			&:extend(.row:after);
		}
	}
	&>.tab-content{
		margin-top: 1em;
		
		&.tab-inactive{
			&:extend(.hidden);
		}
	}
}