
/* Global block + Sidebar related stuff */
#main{
	position: relative;
	z-index: 10;
	margin-top: $(size-topbar-height);
	margin-left: $(size-sidebar-width);
	padding: 2em;
	-webkit-transition: -webkit-transform .2s ease-in-out, margin-left .2s ease-in-out;
	transition: transform .2s ease-in-out, margin-left .2s ease-in-out;
}
@media (max-width: $(breakpoint-sm)){
	#main{
		padding: 1em;
	}
	#sidebar+#main{
		transform: translateX($(size-sidebar-width));
		margin-left: 0;
	}
	#sidebar[hidden]+#main{
		transform: none;
	}
}
.js-enabled #sidebar[hidden]+#main{
	margin-left: 0;
	overflow: hidden;
}

/* Typography */
#main :any(h1, .h1){
	font-size: 3em;
	margin-bottom: 1em;
}
#main :any(h2, .h2){
	font-size: 2em;
	margin-bottom: 1em;
}
#main :any(h3, .h3){
	font-size: 1.6em;
	margin-bottom: 1em;
}
#main :any(h4, .h4){
	font-size: 1.2em;
	margin-bottom: 1em;
}
#main p+p{
	margin-top: 1em;
}

/* Lists */
#main :any(ul, ol){
	margin-left: 2em;
}
#main ul{
	list-style-type: disc;
}
#main ol{
	list-style-type: decimal;
}
#main :any(ul, ol).unstyled-list{
	margin-left: 0;
	list-style-type: none;
}
#main :any(ul, ol)>li{
	margin-bottom: .5em;
}


/* Grid system */
#main .row{
	margin-left: -1em;
	margin-right: -1em;
}
#main :any(.column-tiny, .column-small, .column-medium, .column-large, .column-big){
	box-sizing: border-box;
	float: left;
	padding: 0 1em;
}
#main .column-tiny{
	width: 25%;
}
#main .column-small{
	width: 33.333%;
}
#main .column-medium{
	width: 50%;
}
#main .column-large{
	width: 66.666%;
}
#main .column-big{
	width: 75%;
}

@media (max-width: $(breakpoint-sm)){
	#main :any(.column-tiny, .column-small, .column-medium, .column-large, .column-big){
		width: 100%;
	}
}


/* Container */
#main .container{
	max-width: $(breakpoint-md);
	margin-left: auto;
	margin-right: auto;
}
#main .container.container-tiny{
	max-width: $(breakpoint-xs);
}
#main .container.container-small{
	max-width: $(breakpoint-sm);
}
#main .container.container-large{
	max-width: $(breakpoint-lg);
}


/* Widgets */
#main .card{
	margin-bottom: 2em;
	background-color: $(color-white);
	box-shadow: 0 .125em .25em l-adjust($(color-gray-light), -15);
	border-radius: .25em;
}
#main .card>.card-header{
	padding: 1em;
}
#main .card>.card-header:empty{
	display: none;
}
#main .card>.card-content{
	padding: 1em;
}
#main .card>.card-content:empty{
	display: none;
}
#main .card>.card-header+.card-content{
	margin: -2em 1em 0;
	padding: 1em 0;
	/*border-top: 1px solid l-adjust($(color-gray-light), -15);*/
}



@import url('adm-in-2_main_forms.css');


/* Footer */
#footer{
	@extend .clearfix;
	padding: 1em 1em 0;
	margin-top: 2em;
	font-style: italic;
	color: $(color-gray-semi-light);
	border-top: 1px solid $(color-main);
}
#footer p+p{
	margin-top: 1em;
}
#admin2-copyright{
	@extend .text-right;
}