
/* Forms */
#main :any(label, .label){
	margin-bottom: 1em;
}
#main :any(label, .label).full{
	font-size: 1.6em;
	margin-bottom: .625em;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select){
	padding: .5em;
	margin-bottom: 1em;
	background-color: $(color-white);
	color: $(color-black);
	border-bottom: 1px solid l-adjust($(color-gray-light), -15);
	border-radius: 0;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select):focus{
	outline: 0;
	border-color: $(color-main);
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select):any([disabled], [readonly]){
	border-bottom-style: dashed;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, select).input-small{
	width: 25%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, select).input-medium{
	width: 50%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, select).input-large{
	width: 75%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime, range, file), textarea, select).input-full{
	width: 100%;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-xs{
	padding: .25em;
}
#main :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select).input-xl{
	padding: 1em;
}
#main :any(button, .button, :input(submit, button)){
	padding: .25em .5em;
	background-color: $(color-secondary);
	color: $(color-white);
	border-radius: .125em;
	box-shadow: 0 .125em .25em $(color-gray);
}
#main :any(button, .button, :input(submit, reset, button)):any(:hover, :focus){
	background-color: l-adjust($(color-secondary), -5);
}
#main :any(button, .button, :input(submit, reset, button)):active{
	box-shadow: 0 .25em .5em $(color-gray);
}
#main :any(button, .button, :input(submit, reset, button)).button-xs{
	padding: .125em .25em;
}
#main :any(button, .button, :input(submit, reset, button)).button-xl{
	padding: .5em 1em;
}
#main :any(button, .button, :input(submit, reset, button)).button-full{
	width: 100%;
}
#main :any(button, .button, :input(submit, reset, button)).button-info{
	background-color: $(color-info);
}
#main :any(button, .button, :input(submit, reset, button)).button-info:any(:hover, :focus){
	background-color: l-adjust($(color-info), -5);
}
#main :any(button, .button, :input(submit, reset, button)).button-success{
	background-color: $(color-success);
}
#main :any(button, .button, :input(submit, reset, button)).button-success:any(:hover, :focus){
	background-color: l-adjust($(color-success), -5);
}
#main :any(button, .button, :input(submit, reset, button)).button-error{
	background-color: $(color-error);
}
#main :any(button, .button, :input(submit, reset, button)).button-error:any(:hover, :focus){
	background-color: l-adjust($(color-error), -5);
}
#main :any(button, .button, :input(submit, reset, button)).button-warning{
	background-color: $(color-danger);
}
#main :any(button, .button, :input(submit, reset, button)).button-warning:any(:hover, :focus){
	background-color: l-adjust($(color-danger), -5);
}


input[type="range"]{
	position: relative;
	margin: 0;
	margin-bottom: 1.25em;
	padding: 0;
	height: .5em;
	appearance: none;
	background: $(color-main);
	border-radius: .5em;
}
input[type="range"]::-moz-range-track{
	position: relative;
	margin: 0;
	margin-bottom: 1.25em;
	padding: 0;
	height: .5em;
	-moz-appearance: none;
	background: $(color-main);
	border-radius: .5em;
}
input[type="range"]:focus{
	outline: 0;
}
input[type="range"]::-webkit-slider-thumb{
	width: 1em;
	height: 1em;
	-webkit-appearance: none;
	background: $(color-main-dark);
	border: none;
	border-radius: .5em;
	box-shadow: 0 0 .25em $(color-main-dark);
	transition: all .2s ease-in-out;
}
input[type="range"]:active::-webkit-slider-thumb{
	width: 2em;
	height: 2em;
	border-radius: 1em;
	box-shadow: 0 0 .5em $(color-main-dark);
}
input[type="range"]::-moz-range-thumb{
	width: 1em;
	height: 1em;
	-moz-appearance: none;
	background: $(color-main-dark);
	border: none;
	border-radius: .5em;
	box-shadow: 0 0 .25em $(color-main-dark);
	transition: all .2s ease-in-out;
}
input[type="range"]:active::-moz-range-thumb{
	width: 2em;
	height: 2em;
	border-radius: 1em;
	box-shadow: 0 0 .5em $(color-main-dark);
}
input[type="range"][min]::before,
input[type="range"][max]::after {
	position: absolute;
	top: 1.25em;
	color: $(color-gray);
}
input[type="range"][min]:before {
	left: .5em;
	content: attr(min);
}
input[type="range"][max]:after {
	right: .5em;
	content: attr(max);
}

:any(input[type="checkbox"], input[type="radio"]):any(:not(:checked), :checked){
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	width: 1em;
	height: 1em;
	appearance: none;
	vertical-align: middle;
	border: 2px solid l-adjust($(color-gray-dark), +15);
	outline: none;
}
:any(input[type="checkbox"], input[type="radio"]):any(:not(:checked), :checked):any([disabled], [readonly]){
	background: l-adjust($(color-gray-dark), +30);
}
input[type="checkbox"]:any(:not(:checked), :checked){
	border-radius: .25em;
}
input[type="checkbox"]:checked{
	background: $(color-success);
	border-color: $(color-success);
}
input[type="radio"]:any(:not(:checked), :checked){
	border-radius: 50%;
}
input[type="radio"]:not(:checked){
	background-image: radial-gradient(center, circle cover, $(color-success) 0, transparent 0, transparent 100%);
	transition: background-image .2s ease-in-out, border-color .1s linear .2s;
}
input[type="radio"]:checked{
	/*background: $(color-success);*/
	background-image: radial-gradient(center, circle cover, $(color-success) 0, $(color-success) 100%);
	border-color: $(color-success);
}