@size-topbar-padding: @size-topbar-height / (3*2);
@size-topbar-content-height: @size-topbar-height - (@size-topbar-padding * 2);


#topbar{
	position: fixed;
	z-index: 40;
	top: 0;
	right: 0;
	left: 0;
	height: @size-topbar-height;
	background-color: @color-main;
	color: @color-white;
	user-select: none;
	.box-shadow(0 0 2px @color-gray-dark);
}
.has-sidebar #topbar{
	margin-left: @size-sidebar-width;
}
.js-enabled #topbar{
	-webkit-transition: -webkit-transform .2s ease-in-out, margin-left .2s ease-in-out;
	-moz-transition: -moz-transform .2s ease-in-out, margin-left .2s ease-in-out;
	transition: transform .2s ease-in-out, margin-left .2s ease-in-out;
}
.js-enabled.sidebar-hidden #topbar{
	margin-left: 0;
}
@media (max-width: @breakpoint-md){
	.has-sidebar #topbar{
		.transform(translateX(@size-sidebar-width));
		margin-left: 0;
		-webkit-overflow-scrolling: touch;
	}
	.js-enabled.sidebar-hidden #topbar{
		.transform(none);
	}
}
@media (max-width: @breakpoint-sm){
	.has-sidebar #topbar{
		.transform(translateX(calc(~"100% - "@size-topbar-height)));
	}
}
#logo{
	display: block;
	float: left;
	height: @size-topbar-height;
	padding: @size-topbar-padding;
	text-decoration: none;
	text-align: center;

	&:hover, &:focus{
		background-color: @color-main-dark;
		color: @color-gray-light;
		.box-shadow(0 0 .5em @color-main-dark);
		outline: none;
	}
	&>span{
		font-size: @size-topbar-content-height;
	}
}
.js-enabled.has-sidebar #logo{
	margin-left: @size-topbar-height;
}
@media (max-width: @breakpoint-xs){
	#logo{
		width: auto;
	}
}


#quick-links{
	float: right;

	&>a{
		display: block;
		position: relative;
		float: left;
		width: @size-topbar-height;
		height: @size-topbar-height;
		padding: @size-topbar-padding;

		&:hover, &:focus{
			background-color: @color-main-dark;
			.box-shadow(0 0 .5em @color-main-dark);
			outline: none;

			>span{
				visibility: visible;
			}
		}

		&[data-icon]::before{
			font-size: @size-topbar-content-height;
		}
		
		&>span{
			display: inline-block;
			visibility: hidden;
			position: absolute;
			right: .25em;
			bottom: -2.5em;
			padding: .5em;
			white-space: nowrap;
			background-color: @color-gray-dark;
			color: @color-white;
			.border-radius(.25em);

			&::before{
				content: '';
				display: inline-block;
				position: absolute;
				top: -.5em;
				right: .5em;
				border: .25em solid transparent;
				border-bottom-color: @color-gray-dark;
			}
		}
	}
}