
#sidebar{
	position: fixed;
	z-index: 50;
	top: 0;
	bottom: 0;
	left: 0;
	width: $(size-sidebar-width);
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $(color-gray-dark);
	color: $(color-white);
	user-select: none;
	box-shadow: 0 0 2px $(color-gray-dark);
	-webkit-transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
}
.js-enabled #sidebar[hidden]{
	box-shadow: none;
	visibility: hidden;
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out, visibility 0 .2s;
	-moz-transition: -moz-transform .2s ease-in-out, -moz-box-shadow .2s ease-in-out, visibility 0 .2s;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, visibility 0 .2s;
}
.js-enabled #sidebar-toggle{
	appearance: none;
	box-sizing: border-box;
	position: fixed;
	z-index: 50;
	top: 0;
	left: $(size-sidebar-width);
	padding: .5em;
	width: $(size-topbar-height);
	height: $(size-topbar-height);
	background: data-uri('../img/icon-sidebar-close.svg') no-repeat center;
	background-size: contain;
	cursor: pointer;
	box-shadow: none;
	-webkit-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
}
.js-enabled.sidebar-hidden #sidebar-toggle{
	left: 0;
	background-image: data-uri('../img/icon-sidebar-open.svg');
}
#sidebar-toggle:any(:hover, :focus){
	background-color: $(color-main-dark);
	box-shadow: 0 0 .5em $(color-main-dark);
	outline: none;
}
#sidebar-header>h1{
	@extend .sr-only;
}
#sidebar ul{
	margin: 0;
	list-style-type: none;
}
#sidebar :any(:input(text, password, url, email, number, search, date, time, datetime), textarea, select){
	padding: .25em;
	width: 100%;
	background-color: l-adjust($(color-gray-dark), +5);
	color: $(color-gray-light);
	border: none;
	border-radius: 0;
}

#sidebar .widget{
	padding: 1em;
	max-height: none;
}
#sidebar .widget .widget-title{
	@extend .sr-only;
}


#sidebar li{
	margin: 0;
}
#sidebar .menu-title{
	position: relative;
	margin: 0;
	font-size: 1em;
	background-color: $(color-main);
	color: $(color-white);
}
#sidebar .menu-title>a:any(:hover, :focus){
	color: l-adjust($(color-white), -20);
}
#sidebar .menu-title>.menu-toggle{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: .5em;
	width: 2.5em;
	-webkit-appearance: none;
	background-color: $(color-main);
	color: l-adjust($(color-white), -20);
	border: none;
	box-shadow: none;
}
#sidebar .menu-title>.menu-toggle+a{
	margin-right: 2.5em;
}
#sidebar .menu>.menu-title>.menu-toggle:any(:hover, :focus){
	background-color: $(color-main-dark);
	color: $(color-white);
	box-shadow: 0 0 .5em $(color-main-dark);
	outline: none;
	cursor: pointer;
}
#sidebar .menu>.menu-content{
	max-height: 100%;
}
#sidebar .menu>.menu-content[hidden]{
	max-height: 0;
	overflow: hidden;
	background-color: $(color-gray);
}
#sidebar .submenu{
	color: $(color-gray);
}
#sidebar .menu-title>a, #sidebar .submenu>a{
	display: block;
	padding: .75em 1em;
	text-decoration: none;
}
#sidebar .submenu>a:any(:hover, :focus){
	color: l-adjust($(color-gray), +20);
}
#sidebar .submenu>a>.submenu-description{
	display: block;
	@extend .italic;
	color: l-adjust($(color-gray), -20);
}
#sidebar .submenu>a:any(:hover, :focus)>.submenu-description{
	color: $(color-gray);
}
#sidebar .menu.current{
	background-color: $(color-gray-dark);
}
#sidebar .menu.current .submenu>a:any(:hover, :focus){
	background-color: $(color-black);
}

#sidebar .menu .badge{
	float: right;
}