table{
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	border-collapse: collapse;
	table-layout: fixed;
}
caption{
	@include h2;
	text-align: center;
}
th{
	@include h4;
	margin-bottom: 0;
	padding: 1em .5em;
	text-align: left;
	background-color: $(color-gray-light);
}
td{
	padding: .5em;
}
td, tfoot th{
	border-top: 2px solid $(color-gray-light);
}
table.striped>tbody>tr:nth-child(2n)>td{
	background-color: $(color-gray-light);
}

:any(tr, td)>:any(h1, h2, h3, h4, h5, h6):last-child{
	margin-bottom: 0;
}