table{
	width: 100%;
	max-width: 100%;
	margin-bottom: 2em;
	border-collapse: collapse;
	table-layout: fixed;

	&.striped{
		&>tbody{
			&>tr:nth-child(2n){
				background-color: @color-gray-light;
			}
		}
	}
}
*+table{
	margin-top: 2em;
}
caption{
	&:extend(h2);
	padding: .5em;
	text-align: center;
}
th{
	&:extend(.single-line);
	margin-bottom: 0;
	padding: 1em .5em;
	text-align: left;
	color: @color-table-header;
}
td{
	padding: .5em;
}
td, tfoot th{
	border-top: 2px solid @color-table-border;
}
table{
	&>tbody{
		&>tr{
			&:hover{
				&>td{
					background-color: @color-table-hover;
				}
			}
		}
	}
}

tr, td{
	>h1, >h2, >h3, >h4, >h5, >h6{
		&:last-child{
			margin-bottom: 0;
		}
	}
}