
	<nav role="navigation" id="sidebar">
		<header id="sidebar-header"><h1>Menu</h1></header>

		<ul role="menu" aria-labelledby="sidebar-header" id="sidebar-content">
			<li role="menuitem" class="widget widget-search">
				<h2 class="widget-title">Search</h2>
				<form action="https://www.google.com/search" method="get" class="widget-content show" id="sidebar-search-form">
					<input type="hidden" name="sitesearch" value="{{ site.domain }}">
					<input type="search" name="q" value="{% if page.title %}{{ page.title }}{% endif %}" placeholder="Search" id="sidebar-search-input">
				</form>
			</li>
			<li role="menuitem" class="menu">
				<h2 class="menu-title"><a href="{{ site.baseurl }}/tutorial/">Tutorial</a></h2>
				<ul role="menu" class="menu-content"{% unless page.url contains '/tutorial/' or page.url == '/index.html' %} hidden="true" aria-hidden="true"{% endunless %}>
					<li role="menuitem" class="submenu">
						<a href="{{ site.baseurl }}/tutorial/getting-started.html">Getting started</a>
						<a href="{{ site.baseurl }}/tutorial/users.html">Who uses Adm'in.2?</a>
						<a href="{{ site.baseurl }}/tutorial/containers.html">Containers</a>
						<a href="{{ site.baseurl }}/tutorial/columns-system.html">Columns system</a>
						<a href="{{ site.baseurl }}/tutorial/cards.html">Cards</a>
					</li>
				</ul>
			</li>
			<li role="menuitem" class="menu">
				<h2 class="menu-title"><a href="{{ site.baseurl }}/plugins/">Plugins <span class="badge">3</span></a></h2>
				<ul role="menu" class="menu-content"{% unless page.url contains '/plugins/' or page.url == '/index.html' %} hidden="true" aria-hidden="true"{% endunless %}>
					<li role="menuitem" class="submenu">
						<a href="{{ site.baseurl }}/plugins/toasts.html">Toasts</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="{{ site.baseurl }}/plugins/sortable.html">Sortable</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="{{ site.baseurl }}/plugins/text-editor.html">Text editor</a>
					</li>
				</ul>
			</li>
			<li role="menuitem" class="menu">
				<h2 class="menu-title"><a href="{{ site.baseurl }}/contribute/">Contributing</a></h2>
				<ul role="menu" class="menu-content"{% unless page.url contains '/contributing/' or page.url == '/index.html' %} hidden="true" aria-hidden="true"{% endunless %}>
					<li role="menuitem" class="submenu">
						<a href="{{ site.baseurl }}/contribute/debugging.html">Debugging</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="{{ site.baseurl }}/contribute/plugin-creation.html">Creating a plugin</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>