
	<nav role="navigation" id="sidebar">
		<header id="sidebar-header"><h1>Menu</h1></header>

		<ul role="menu" aria-labelledby="sidebar-header" id="sidebar-content">
			<li class="widget widget-search">
				<h2 class="widget-title">Search</h2>
				<form action="#0" method="get" class="widget-content show" id="sidebar-search-form">
					<input type="search" name="q" value="" placeholder="Search" id="sidebar-search-input">
				</form>
			</li>
			<li role="menuitem" class="menu">
				<h2 class="menu-title"><a href="{{ site.url }}/tutorial/">Getting started</a></h2>
				<ul role="menu" class="menu-content">
					<li role="menuitem" class="submenu">
						<a href="{{ site.url }}/tutorial/">First steps</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="#0">Write new</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="#0">Categories <small class="submenu-description">A short description here</small></a>
					</li>
				</ul>
			</li>
			<li role="menuitem" class="menu">
				<h2 class="menu-title"><a href="#0">Plugins <span class="badge">3</span></a></h2>
				<ul role="menu" class="menu-content">
					<li role="menuitem" class="submenu">
						<a href="#0">Toasts</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="#0">Sortable</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="#0">Text editor</a>
					</li>
				</ul>
			</li>
			<li role="menuitem" class="menu">
				<h2 class="menu-title"><a href="#0">Contributing</a></h2>
				<ul role="menu" class="menu-content">
					<li role="menuitem" class="submenu">
						<a href="#0">List</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="#0">Premium users</a>
					</li>
					<li role="menuitem" class="submenu">
						<a href="#0">Add</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>