	<div role="banner" id="topbar">
		<a href="{{ site.baseurl }}/" id="logo"><span>Adm'in.2</span></a>

		<nav role="navigation" id="quick-links">
			<a href="https://github.com/comin2/Adm-in.2" target="_blank" data-icon="code"><span role="tooltip">GitHub project</span></a>
			<a href="https://github.com/comin2/Adm-in.2/issues" target="_blank" data-icon="report_problem"><span role="tooltip">Issues</span></a>
			<a href="https://github.com/comin2/Adm-in.2/wiki" target="_blank" data-icon="info_outline"><span role="tooltip">Wiki</span></a>
		</nav>
	</div>