<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ site.name }}{% if page.title %} — {{ page.title }}{% endif %}</title>
	
	<meta name="viewport" content="initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/adm-in-2.min.css" />
</head>
<body>
	{% include topbar.html %}
	{% include sidebar.html %}
	<main role="main" id="main">
		{{ content }}
		{% include footer.html %}
	</main>
	<script src="{{ site.baseurl }}/adm-in-2.min.js"></script>
	<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
</html>